.about {
  background-image: url(../../images/Banner&Background/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-desc {
  margin-top: 90px;
  padding-right: 50px;
}
.about-desc span img {
  margin-left: 20px;
}

.about-desc h1 {
  font-size: 40px;
  margin-top: 55px;
}
.about-desc p {
  line-height: 26px;
}

@media only screen and (max-width: 688px) {
  .about-desc {
    margin-top: 20px;
    padding: 10px;
  }

  .about-desc h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}
